-var siteName = 'Shinbyeong'
-var siteUrl = 'https://mysite.com/'
-var siteDescription = 'Site description'
-var twitter = '@flowen_nl'
-var twitterCard = '/assets/cards/twitter-card.png'
-var ogCard = '/assets/cards/og-card.png'


meta(charset='utf-8')
meta(content='width=device-width,initial-scale=1', name='viewport')
meta(content=siteDescription, name='description', data-hid='description')
meta(name='theme-color', content='#ffffff')

meta(name='msapplication-TileColor', content='#da532c')

meta(name='google', value='notranslate')
meta(content='en-us', httpequiv='Content-Language')
meta(content='IE=edge,chrome=1', httpequiv='X-UA-Compatible')
meta(content='on', httpequiv='cleartype')
meta(content='yes', name='apple-mobile-web-app-capable')
meta(content='black', name='apple-mobile-web-app-status-bar-style')

meta(content=siteName, property='og:title')
meta(content=siteUrl, property='og:url')
meta(content=siteDescription, property='og:description')
meta(content=ogCard, property='og:image')
meta(content=siteName, property='og:site_name')
meta(content='website', property='og:type')

meta(content='true', name='HandheldFriendly')
meta(content=siteDescription, name='description')
meta(content=siteName, name='apple-mobile-web-app-title')
meta(content='yes', name='apple-mobile-web-app-capable')
meta(content='white', name='apple-mobile-web-app-status-bar-style')

meta(content='summary_large_image', name='twitter:card')
meta(content=twitter, name='twitter:site')
meta(content=twitter, name='twitter:creator')
meta(content=siteName, name='twitter:title')
meta(content=siteDescription, name='twitter:description')
meta(content=twitterCard, name='twitter:image:src')
meta(content=siteUrl, name='twitter:url')

link(rel='apple-touch-icon', sizes='180x180', href='/assets/favicon/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/assets/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/assets/favicon/favicon-16x16.png')
link(rel='manifest', href='/site.webmanifest')
